*{
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: aliceblue;
  background-color: #03458F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 1em;
}